<div class="card">
    <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Cod Rastreamento</th>
                <th>Nome Motorista</th>
                <th>Total Entregas</th>
                <th>Entregas Realizadas</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{ product.code }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.entregues }}</td>
                <td>{{ product.realizadas }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>